body, html{
    line-height: 1.8em;
    font-weight: 400;
    margin: 0;
    font-size: 16px;
    font-family: "Lato",sans-serif;
    height: 100%;
    color:#666666;
}

.pic1, .pic2, .pic3{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.pic1{
    background-image: url('../img/easter1.jpg');
    min-height: 100%;
}
.pic2{
    background-image: url('../img/easter2.jpg');
    min-height: 400px;
}
.pic3{
    background-image: url('../img/easter3.jpg');
    min-height: 400px;
}

.section{
    text-align: center;
    padding: 15px 80px;
}

.section-light{
    color: #666666;
}
.section-dark{
    color: #ddd;
    background-color: #282e34;
}

.ptext{
    position:absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border{
    background-color: #777;
    color: #fff;
    padding: 20px;
}
.border{
    opacity: 70%;
}

@media(max-width:568px){
    .pic1, .pic2, .pic3{
        background-attachment: scroll;
    }
}